---
import flecha from '../assets/flecha-hacia-arriba.png';
import corazones from '../assets/corazones.png';
import '../styles/global.css'
---

<div id="container">
	<main>
		<section class="heart-container">
			<article class="montaje">
				<img src={flecha.src} alt="heart" class="flecha-izq"/>
				<img src={corazones.src} alt="heart" class="heart"/>
				<img src={flecha.src} alt="heart" class="flecha-dch"/>
			</article>
		</section>
		<section class="save-date">
			<article class="date-container">
				<h1>Save <br /> the <br/> Date!</h1>
				<div class="vertical-line"></div>
				<p class="date animate-pulse">
					01 <br /> 11 <br /> 25
				</p>
			</article>
			<article class="names-container">
				<p class="names">Alba & Cristian<p/> 
			</article>
		</section>
		<section class="heart-container">
			<article class="montaje">
				<img src={flecha.src} alt="heart" class="flecha-izq"/>
				<img src={corazones.src} alt="heart" class="heart"/>
				<img src={flecha.src} alt="heart" class="flecha-dch"/>
			</article>
		</section>
	</main>
</div>

<style lang="less">

	#container {
		height: 100%;
		color:#fff
	}

	p, h1 {
		margin: 0;
	}

	main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		
	}

	.heart-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 20vh;
		.montaje {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			opacity: 0.3;
			max-width: 10%;
			img{
				max-width: 100%;
				max-height: 100%;
			}
			.flecha-izq {
				rotate: -90deg;
			}

			.flecha-dch {
				rotate: 90deg;
			}

			.heart{
				position: absolute;
			}
		}
	}
	.save-date {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: relative;
		height: fit-content;
		row-gap: 4em;
		padding-left: 3%;
		.date-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			position: relative;
			height: fit-content;
			width: 100%;
			> * {
				text-align: center;
			}
			h1 {
				font-size: 2.6em;
				color:#fff;
				font-family: 'BetterSaturday', sans-serif;
				transform: translateX(-75%);
			}			
			.date{
				font-size: 2.6em;
				font-family: 'NotoSerifDisplay-Regular', sans-serif;
				transform: translateX(75%);
			}
			.vertical-line {
				border-left: 0.7px solid #fff;
				height: 100%;
				max-width: 0.7px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.names-container {
			max-width: 47%;
			text-align: center;
			.names {
				font-size: 2em;
				font-family: 'AnticDidone', sans-serif;
				line-height: 29px;
			}
		}
	}
	

	@media screen and (min-width: 426px) {
		.heart-container {
			.montaje {
				max-width: 5%;
			}
		}
		.save-date {
			padding-left: 0%;
		}
	}

	@media screen and (min-width: 768px) {
		.heart-container {
			height: 20vh;
			.montaje {
				max-width: 5%;
			}
		}
		.save-date {
			.date-container {
				h1 {
					font-size: 3.6em;
					transform: translateX(-50%);
					padding-right: 5%;
				}			
				.date{
					font-size: 3.6em;
					transform: translateX(50%);
				}
			}
			.names-container {
				.names {
					font-size: 1.5em;
					line-height: 29px;
				}
			}
		}
	}

	@media screen and (min-width: 1024px) {
		.heart-container {
			height: 20vh;
			.montaje {
				max-width: 5%;
			}
		}
		.save-date {
			.date-container {
				h1 {
					font-size: 4.6em;
					padding-right: 5%;
				}			
				.date{
					font-size: 4.6em;
					padding-left: 5%;
				}
			}
			.names-container {
				.names {
					font-size: 2.5em;
					line-height: 29px;
				}
			}
		}
	}


	@media screen and (min-width: 1440px) {
		.heart-container {
			height: 20vh;
			.montaje {
				max-width: 5%;
			}
		}
		.save-date {
			.date-container {
				h1 {
					font-size: 5.6em;
					padding-right: 5%;
				}			
				.date{
					font-size: 5.6em;
					padding-left: 0%;
				}
			}
			.names-container {
				.names {
					font-size: 3.5em;
				}
			}
		}
	}
</style>
